{% extends 'base.html.twig' %}

{% block title %}Buy Pack {{ pack.name }}{% endblock %}

{% block body %}
    <div class="container">
        <ul><div class=""><h4 class="text-bg-danger">{{ messageError }}</h4></div></ul>
        <ul>Nom du pack : {{ pack.name }}</ul>
        <ul>Prix : {{ pack.price }}€</ul>
        <ul>Nombre d'emplacement : {{ pack.numberSlot }}</ul>
        <ul>{{ form(form) }} </ul>
        <ul><a class="btn btn-primary" href="/pack/list">Annuler</a></ul>
    </div>
{% endblock %}