{% extends 'base.html.twig' %}

{% block title %}Info Pack {{ pack.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ pack.name }}</h1>
        <ul>
            <li>
                nombre d'emplacement : {{ pack.numberSlot }}
            </li>
            <li>
                prix : {{ pack.price }} €
            </li>
        </ul>
        <a href="{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}/pack/buy/{{ pack.id }}{% else %}/login{% endif %}" class="btn btn-primary">Acheter</a>
    </div>
{% endblock %}
